.container {
  min-height: 100vh;
  width: 100vw;
  /* border: 10px solid rgb(0, 0, 0); */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  .container {
    background-image: linear-gradient(to bottom, #ff7b5c, #ff6c81);
  }
  .formBox {
    padding: 30px 15px 15px 15px;
  }
}

@media (orientation: landscape) {
  .container {
    background-image: linear-gradient(to right, #ff7b5c, #ff6c81);
  }
  .formBox {
    padding: 30px 50px 15px 50px;
  }
}

.tile {
  /* background: rgb(39, 61, 134); */
  flex: 1 1 300px;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.formBox {
  /* padding: 30px 15px 15px 15px; */
  max-width: 400px;
}

.formTitle {
  font-size: x-large;
  text-align: center;
}

.petr {
  /* background: skyblue; */
  text-align: center;
  position: relative;
  animation-name: petranimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes petranimation {
  0% {
    top: 0px;
    left: 0px;
  }
  25% {
    top: 0px;
    left: 20px;
  }
  50% {
    top: 20px;
    left: 20px;
  }
  75% {
    top: 20px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: 0px;
  }
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
