.mycontainer {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  .mycontainer {
    background-image: linear-gradient(to bottom, #ff7b5c, #ff6c81);
    flex-flow: column wrap;
  }
  .mytile {
    margin: 30px 15px 15px 15px;
  }
}

@media (orientation: landscape) {
  .mycontainer {
    background-image: linear-gradient(to right, #ff7b5c, #ff6c81);
    flex-flow: row wrap;
  }
  .mytile {
    margin: 30px 50px 15px 50px;
  }
}

.mytile {
  flex: 1 1 0px;
  align-self: center;
}

.formTitle {
  font-size: x-large;
  text-align: center;
}

.petr {
  text-align: center;
  position: relative;
  animation-name: petranimation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes petranimation {
  0% {
    top: -20px;
    left: -20px;
  }
  25% {
    top: -20px;
    left: 0px;
  }
  50% {
    top: 0px;
    left: 0px;
  }
  75% {
    top: 0px;
    left: -20px;
  }
  100% {
    top: -20px;
    left: -20px;
  }
}
